html, body {
    padding: 0;
    margin: 0;
} 

canvas{
    max-width: fit-content;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /* outline: none;
    border: none; */
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.armorDropdown {
    position: absolute;
    display: inline-block;
}

.armorDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto; /* Enables scrolling for long lists */
}

.armorDropdown-content button {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
}

.armorDropdown-content button:hover {
    background-color: #ddd;
}

.armorDropdown:hover .armorDropdown-content {
    display: block;
}

.armorDropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Style for the search bar */
.search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}