<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ballistic calculator</title>
</head>

<body style="background-color:white;">

    <div class="armorDropdown">
        <button class="dropbtn">Armor</button>
        <div class="armorDropdown-content">
            <input type="text" class="search-input" placeholder="Search..." onkeyup="filterOptions()">
            <!-- Buttons will be dynamically added here -->
        </div>
    </div>
    
    <script>
         const options = [
            "Hexatac HPC Plate Carrier (MultiCam Black)",
            "5.11 Tactical Hexgrid plate carrier",
            "6B2 body armor (Flora)",
            "BNTI Module-3M body armor",
            "PACA Soft Armor",
            "PACA Soft Armor (Rivals Edition)",
            "Interceptor OTV body armor (UCP)",
            "BNTI Zhuk body armor (Press)",
            "BNTI Kirasa-N body armor",
            "6B13 assault armor",
            "6B23-1 body armor (EMR)",
            "6B23-2 body armor (Mountain Flora)",
            "NPP KlASS Korund-VM body armor (Black)",
            "LBT-6094A Slick Plate Carrier",
            "HighCom Trooper TFO body armor (MultiCam)",
            "NPP KlASS Kora-Kulon body armor",
            "NFM THOR Concealable Reinforced Vest body armor",
            "MF-UNTAR body armor",
            "DRD body armor",
            "BNTI Gzhel-K body armor",
            "BNTI Zhuk body armor (EMR)",
            "FORT Defender-2 body armor",
            "6B13 M assault armor (Killa Edition)",
            "IOTV Gen4 body armor (Assault Kit, MultiCam)",
            "FORT Redut-M body armor",
            "IOTV Gen4 body armor (High Mobility Kit, MultiCam)",
            "NFM THOR Integrated Carrier body armor",
            "FORT Redut-T5 body armor (Smog)",
            "6B43 Zabralo-Sh body armor (EMR)",
            "IOTV Gen4 body armor (Full Protection Kit, MultiCam)",
            
            "Eagle Allied Industries MBSS plate carrier (Coyote Brown)",
            "Tasmanian Tiger SK plate carrier (MultiCam Black)",
            "Tasmanian Tiger Plate Carrier MKIII (Coyote Brown)",
            "S&S Precision PlateFrame plate carrier (Goons Edition)",
            "WARTECH TV-115 plate carrier (Olive Drab)",
            "WARTECH TV-110 plate carrier (Coyote)",
            "Eagle Industries MMAC plate carrier (Ranger Green)",
            "Shellback Tactical Banshee plate carrier (A-TACS AU)",
            "Ars Arma A18 Skanda plate carrier (MultiCam)",
            "ANA Tactical M1 plate carrier (Olive Drab)",
            "FirstSpear Strandhogg plate carrier (Ranger Green)",
            "ECLiPSE RBAV-AF plate carrier (Ranger Green)",
            "Stich Profi Plate Carrier V2 (Black)",
            "CQC Osprey MK4A plate carrier (Assault, MTP)",
            "Crye Precision AVS plate carrier (Tagilla Edition)",
            "5.11 Tactical TacTec plate carrier (Ranger Green)",
            "Crye Precision CPC plate carrier (Goons Edition)",
            "Ars Arma CPC MOD.1 plate carrier (A-TACS FG)",
            "Stich Profi Stich Defense mod.2 plate carrier (MultiCam)",
            "ANA Tactical M2 plate carrier (EMR)",
            "Crye Precision AVS plate carrier (Ranger Green)",
            "NPP KlASS Bagariy plate carrier (EMR)",
            "6B5-16 Zh-86 Uley armored rig (Khaki)",
            "CQC Osprey MK4A plate carrier (Protection, MTP)",
            "6B3TM-01 armored rig (Khaki)",
            "6B5-15 Zh-86 Uley armored rig (Flora)"
        ];

        // Reference to the dropdown content div
        const dropdownContent = document.querySelector('.armorDropdown-content');

        // Function to create buttons dynamically
        function createButtons() {
            options.forEach((option, index) => {
                const button = document.createElement('button');

                button.textContent = option;
                button.onclick = () => sendGetRequest(option);

                dropdownContent.appendChild(button);
            });
        }

        async function sendGetRequest(armorName) {
            const url = `http://localhost:8080/armor?name=${encodeURIComponent(armorName)}`;

            try {
                const response = await fetch(url, {
                    method: 'GET'
                });

                if (response.ok) {
                    const data = await response.json();
                    console.log(data);
                } else {
                    throw new Error(`Request failed with status ${response.status}`);
                }
            } catch (error) {
                console.error("Error fetching armor data:", error);
            }
        }
        // Call function to generate buttons
        createButtons();

        // Function to filter options in the dropdown
        function filterOptions() {
            const input = document.querySelector('.search-input');
            const filter = input.value.toLowerCase();
            const buttons = dropdownContent.querySelectorAll('button');

            buttons.forEach(button => {
                const text = button.textContent || button.innerText;
                button.style.display = text.toLowerCase().indexOf(filter) > -1 ? '' : 'none';
            });
        }
    </script>

    <script type="importmap">
        {
            "imports": {
                "three": "/three/build/three.module.js",
                "three/addons/": "/three/examples/jsm/",
                "graphql":"/graphql/index.mjs",
                "graphql-request": "/graphql-request/build/entrypoints/main.js"
            }
        }
    </script>
    <script type="module" src="/graphics.js" async defer></script>
    <!-- <script type="module" src="/itemQuery.js" async defer></script> -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>

</body>
</html>