<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ballistic calculator</title>
</head>

<body style="background-color:white;">

    <div class="armorDropdown">
        <button class="dropbtn">Armor</button>
        <div class="armorDropdown-content">
            <button onclick="action1()">Eagle Allied Industries MBSS plate carrier (Coyote Brown)</button>
            <button onclick="action2()">Tasmanian Tiger Plate Carrier MKIII (Coyote Brown)</button>
            <button onclick="action3()">Tasmanian Tiger SK plate carrier (MultiCam Black)</button>
        </div>
    </div>
    
    <script type="importmap">
        {
            "imports": {
                "three": "/three/build/three.module.js",
                "three/addons/": "/three/examples/jsm/",
                "graphql":"/graphql/index.mjs",
                "graphql-request": "/graphql-request/build/entrypoints/main.js"
            }
        }
    </script>
    <script type="module" src="/graphics.js" async defer></script>
    <script type="module" src="/itemQuery.js" async defer></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

</body>
</html>